.family {
    @include flex(flex-start, space-between);

    flex-direction: row;
    height: 100vh;
    width: 100%;

    &__categories {
        flex: 1;

        &__category {
            height: 3rem;
            margin-bottom: 1rem;
            box-shadow: $box-shadow;
            background-color: #ccc;
            color: $main-color;
            border-radius: 20px;
            font-size: 1.2rem;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                background-color: #33960ce0;
                color: #fff
            }

            @include flex(center, center);

            .onActive {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background-color: #33960ce0;
                color: #fff;

                @include flex(center, center);

            }
        }

    }

    &__items {
        flex: 4;
        margin-left: 2rem;

        img {
            height: 15rem;
        }
    }
}